* {
    margin: 0;
    padding: 0;
}

.navigation {
    margin-top: 25px;
    font-family: var(--font1);
    height: 74px;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
}

.nav-left span {
    font-size: 35px;
    padding-top: 10px;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 78px;
    font-size: 22px;
}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
    transition: all 0.3s ease-in-out;
}

.nav-left ul li a{
    text-decoration: none;
    color: black;
}

.nav-left ul li a:hover {
    color: var(--main-bg-color);
    font-weight: bolder;
}

.nav-right{

}

.content {
    display: flex;
    height: 395PX;
    margin-top: 32px;
    /* background-color: blue; */
    padding: 10px;
    /* position: relative; */
}

/* .content::after {
    content: "";
    background-image: url('../img/vecteezy_typing-on-laptop_5559881.jpg');
    position: absolute;
    width: 300px;
    height: inherit;
    opacity: 0.15;
} */

.content-left {
    font-family: var(--font1);
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 50px; */
}

.content-right {
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right img {
    height: 355px;
    border: 1px solid black;
    border-radius: 200px;
}

.home-articles {
    /* height: 455px; */
    /* background-color: red; */
    padding: 18px;
    background-color: rgb(248, 239, 239, 0.5);
    margin-top: 24px;
}

.home-article {
    display: flex;
    margin: 25px;
}

.home-article-img {
}

.home-article-content {
    align-self: center;
    padding: 0 25px;
}

.home-article-content a {
    text-decoration: none;
    color: black;
}

.footer {
    height: 50px;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.footer a {
    color: white;
}