@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&family=Roboto&display=swap');

:root {
    --main-bg-color: brown;
    --font1: 'Baloo Bhaina 2', cursive;
    --font2: 'Roboto', sans-serif;
}

.max-width-1{
    max-width: 80vw;
}

.max-width-2{
    max-width: 60vw;
}

.m-auto {
    margin: auto;
}

.btn {
    padding: 0px 15px;
    padding-top: 2px;
    border: 2px solid black;
    border-radius: 6px;
    font-family: var(--font1);
    font-size: 16px;
    cursor: pointer;
}

.form-input {
    padding: 0px 10px;
    padding-top: 2px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 14px;
    font-family: var(--font1);
}